  <form [formGroup]="newItemForm" (ngSubmit)="addItem()" novalidate>
    <div class="form-group-row">
      <label for="title" class="col-form-label">Title: </label>
      <input id="title" class="form-control" type="text" formControlName="title" required>
    </div>

      <div class="form-group-row">
        <label for="category">Category:</label>
        <select id="category" formControlName="category" class="form-control">
          <option selected>Select...</option>
          <option *ngFor="let category of categories">{{category.displayValue}}</option>
        </select>
      </div>

    <div class="form-group-row">
      <label for="description" class="col-form-label">Description</label>
      <textarea class="form-control" formControlName="description" required></textarea>
    </div>

    <div class="form-group-row">
      <button type="submit" class="btn btn-primary" [disabled]="!newItemForm.valid">Save</button>
      <button type="reset" class="btn btn-warn" (click)="cancel()">Cancel</button>
    </div>
  </form>
