<table class="table table-striped" *ngIf="backlogItems">
  <thead>
    <tr>
      <th scope="col">Click to edit</th>
      <th scope="col">Title</th>
      <th scope="col">Category</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of backlogItems; index as i">
      <td><button class="btn btn-primary" (click)="select(item.id)">edit</button></td>
      <td>{{item.title}}</td>
      <td>{{item.category}}</td>
    </tr>
  </tbody>
</table>

<form [formGroup]="editItemForm" (ngSubmit)="update()" novalidate *ngIf="editMode">
  <div class="form-group-row">
    <label for="title" class="col-form-label">Title: </label>
    <input id="title" class="form-control" type="text" formControlName="title">
  </div>

  <div class="form-group-row">
    <label for="category">Category:</label>
    <select id="category" formControlName="category" class="form-control">
      <option selected>Select...</option>
      <option *ngFor="let category of categories">{{category.displayValue}}</option>
    </select>
  </div>

  <div class="form-group-row">
    <label for="description" class="col-form-label">Description</label>
    <textarea class="form-control" formControlName="description" required></textarea>
  </div>

  <div class="form-group-row">
    <button type="submit" class="btn btn-primary" [disabled]="!editItemForm.valid">Save</button>
    <button type="reset" class="btn btn-warn" (click)="cancel()">Cancel</button>
  </div>
</form>